//FONTS
$lato: 'Lato', sans-serif;

//COLOR
$gray: #4D4D4D;
$red: #e63027;
$blue: #0252d9;
$paid: #F06531;
$processing: #F06531;
$preparing: #FAAF57;
$sent: #63A6F5;
$delivered: #54CB87;
$return: #663ab6;
